
 {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js"></script>
<stylesheet src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.css"></stylesheet>  --}}

<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                         {{!-- <h1 class="mt-1">Vendors</h1> --}}
                          <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Vendors</li>
                        </ol>

 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/admin/vendors">Vendors</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Add Vendor</a>
  </li>
<li class="nav-item">
    <a class="nav-link" href="/admin/blockedVendors">Blocked Vendors</a>
  </li>
</ul>
<div class="row" style="height: 55px;">
  {{#if SuccessMsg}}

                  <div class="alert alert-success" style="width: 100%;">
                   <strong> {{SuccessMsg_Caption}}</strong> {{SuccessMsg}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
                   </div>
                   {{/if}}
                  </div>
                 
                  <div   >
                   
  <form method="POST" enctype="multipart/form-data" action="/admin/addVendor" class="border border-info p-3 pb-0!important" style="background-color:#e9ecef ;">
      <h3>New Vendor</h3>
       <div class="form-group col-md-1">
     <input type="text" class="form-control" name="IsDeleted" value="false" style="display: none;">
    </div>
     <div class="form-group col-md-1">
     <input type="text" class="form-control" name="IsBlocked" value="false" style="display: none;">
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Name</label>
      <input type="text" class="form-control" name="name" placeholder="Eg:Just Bake">
    </div>
      <div class="form-group col-md-6">
      <label for="inputState">Contact Person</label>
       <input type="text" class="form-control" name="contactPerson">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Description</label>
    <textarea class="form-control" name="Description" rows="2" placeholder="Just Bake specializes in Designer Cakes, Wedding Cakes, photo cakes and Birthday Cakes and cakes of any shape you can think of..."></textarea>
    {{!-- <input type="text" class="form-control" name="Description" placeholder="Just Bake specializes in Designer Cakes, Wedding Cakes, photo cakes and Birthday Cakes and cakes of any shape you can think of..."> --}}
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address</label>
     <textarea class="form-control" name="Address" rows="2" placeholder="1234 Main St, Apartment, studio, or floor"></textarea>
   
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" name="city">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">District</label>
       <input type="text" class="form-control" name="district">
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" name="zip">
    </div>
    
  </div>
 <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Email</label>
      <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Phone No</label>
       <input type="text" class="form-control" name="phone">
    </div>
   
  </div>
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">User Name</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Password</label>
       <input type="text" class="form-control" name="password">
    </div>
     
  </div>

<div class="form-row">
   <div class="form-group col-md-4">
<label for="">Image</label>
<input type="file" class="form-control" name="Image">
</div>

  <div class="row">
    <div>
  <img id="image" onload="hello()" >
</div>
  </div>
 
</div>
  <button type="submit" class="btn btn-primary">Save</button>

</div>    



                </div>
                </main>
        </div>
